/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    line-height: 1.6;
}

header {
    background: #222;
    color: #fff;
    padding: 15px 0;
}

nav {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #00bfff;
}

.container {
    width: 90%;
    margin: 30px auto;
}


/* HERO SECTION */

.hero {
    background: white;
    padding: 80px 20px;
    text-align: center;
    border-radius: 10px;
}


/* ABOUT PAGE */

.about-box {
    background: white;
    padding: 25px;
    border-radius: 10px;
}


/* PROJECT CARDS */

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.project-item {
    background: white;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.project-item h3 {
    margin-bottom: 10px;
}


/* CONTACT PAGE */

.contact-box {
    background: white;
    padding: 25px;
    border-radius: 10px;
}

footer {
    margin-top: 50px;
    text-align: center;
    padding: 15px;
    background: #222;
    color: white;
}